html{

	background-color: #111;
	margin: -10;
}

p , h1 , h2 , a { 
	
	color: white;
	
}

body{

	background-color: #111;

}


.header{

	height: 70px;
	margin: 0;
	width: 100%;
	padding: 0;
	text-align: center;
	
	padding-top: 0px;
	background-color: #111;
	
	 
}

.header h1 {
	
	margin: 0;
	font-size: 18;
	font-family:monospace;
	font-weight: normal;
	letter-spacing: 5;
	display: inline-block;
	line-height: 70px;
}


.header .socialaIcon {

	display: inline-block;
	margin: 0;
	margin-left: 20px;


}

 
.header .socialaIcon a {
	
	margin: 0;
	display: inline-block;
	line-height: 70px;
	color: #BBB;
	text-transform: uppercase;
	font-size: 12;

}


.contentBody {

	padding: 100px;
	text-align: center;
	
	vertical-align: top;
		
	display: block;

}


.contentBlock_1 {

	display: inline-block;
	padding: 10;
	width: 200px;	
	border-style: solid;
	border-color: #555;
	border-width: 1px;
	top: 0px;	
	vertical-align: top;
	
	margin-bottom: 40px;
	
	
	overflow: hidden;
	
	margin: 10px;
	margin-bottom: 40px;
		
	background-color: #222;
	


}








.contentBlock_1 img {

	box-sizing: border-box;
	width: 100%;
	height: 300px;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	opacity: 0.7;
	
}

.contentBlock_1:hover img {

	opacity: 0.8;
}

.contentBlock_1 h1 {
	
	font-size: 16px;
	letter-spacing: 2px;
	text-transform:uppercase;
	
	line-height: 22px;

}

.contentBlock_1 p {
	
	font-size: 18;
	color: #AAA;

}

.contentBlock_1 a {

	display: inline-block;
	color: orange;
	opacity: 0.8;
	
	
}

.contentBlock_1 a:hover {

	
	
}

.contentBlock_1 .button{

	width: 100%;
	line-height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #222;

	
	
}

.contentBlock_1:hover .button{


	
}

.contentBlock_1 .button:hover{

	border-style: solid;
	border-width: 1px;
	border-color: #444;
}

.contentBlock_1 a:hover {

	cursor: pointer;
	
}

.contentBlock_1:hover div {

	
}

.contentBlock_1 div {

	padding-top: 10px
	
}

.first{

}





