html{

	background-color: #444;
	margin: -10;
	

}

p , h1 , h2 , a { 
	
	color: #111;
	font-family: monospace;
	
}

body{

	overflow-y: scroll;
	overflow-x: hidden;

	
}



.header{

	margin: 0px 0px 100px 0px;
	padding: 100px 0px 20px 10%;
	width: 100%;
	background-color: #353535;
	box-shadow: 0px 7px 0px #252525;
	
	border-style: solid;
	
	border-color: #444;
	 
}

.header h1 {
	
	margin: 0;
	font-size: 18;
	font-family:monospace;
	font-weight: normal;
	letter-spacing: 5;
	display: inline-block;
	color: #DDD;
	
	margin-right:  50px;
	
	line-height: 30px;
	
	margin-bottom: 10px;
}


.header .socialaIcon {

	display: inline-block;
	margin: 0;
	margin-right: 10px;


}

 
.header .socialaIcon a {
	
	margin: 0;
	display: inline-block;
	color: #BBB;
	text-transform: uppercase;
	font-size: 12;

}


.contentBody {	
	
	vertical-align: top;
		
	display: block;	
	
	padding: 0px 10% 0px 10%;
	
	width: 100%;
}


.contentBlock_1 {
	
	text-align: center;

	display: inline-block;
	
	width: 225px;	
	
	vertical-align: top;
	
	margin-bottom: 40px;	
	
	margin: 0px 50px 40px 0px;	
		
	background-color: #353535;	
	
	box-shadow: 7px 7px 0px #151515;
	
	border-style: solid;
	
	border-color: #444;

}



.contentBlock_1.contentBlock_1 img {
	
	box-sizing: border-box;	
	
	text-decoration: none;
	
	border-style: none;
	
	width: 100%;	
	
	
}

.contentBlock_1 .imgHolder{

	padding: 0px;
	
	overflow: hidden;
	
	height: 300px;
	
	background-color: #AAA;
		
}



.contentBlock_1 h1 {
	
	font-size: 16px;
	letter-spacing: 2px;
	text-transform:uppercase;
	
	line-height: 22px;
	
	color: #DDD;

}

.contentBlock_1 p {
	
	font-size: 18;
	color: #AAA;
	font-size: 14px;

}

.contentBlock_1 a {

	display: inline-block;
	
	color: #DDD;
	
	background-color: #555;
	
	margin-bottom: -25px;
	
	text-decoration: none;
	
	

	
}

.contentBlock_1 a:hover {

	
	
}

.contentBlock_1 .button{

	width: 100%;
	line-height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #222;
	
		width: 80%;


	
	
}

.contentBlock_1:hover .button{


	
}

.contentBlock_1 .button:hover{

	border-style: solid;
	border-width: 1px;
	border-color: #444;
	
	background-color: #666;
}

.contentBlock_1 a:hover {

	cursor: pointer;
	
}

.contentBlock_1:hover div {

	
}

.contentBlock_1 .CBcontent {

	padding: 10px
	
}






